@import "tailwindcss";

html{
scroll-behavior:smooth;
}

body{
background:
radial-gradient(circle at top,#0f172a,#050816 60%);
}

.glow{
position:absolute;
width:400px;
height:400px;
background:#00E5FF;
filter:blur(180px);
opacity:.15;
z-index:-1;
}